<div class="m-4 row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card bg-secondary">
            <video id="video1" class="img-fluid rounded rounded-3" src="../assets/videos/Aprenent anglès ballant.mp4#t=15"
                muted></video>
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Aprenent anglès ballant</h5>
            </div>
            <a id="enllaç1" class="stretched-link" href="./video.html?v=0"></a>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary">
            <video id="video2" class="img-fluid rounded rounded-3" src="../assets/videos/Space Invaders.mp4#t=10"
                muted></video>
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Space Invaders</h5>
            </div>
            <a id="enllaç2" class="stretched-link" href="./video.html?v=1"></a>
        </div>
    </div>
    <div class="col">
        <div class="card bg-secondary">
            <video id="video3" class="img-fluid rounded rounded-3" src="../assets/videos/treball per projectes.mp4#t=12"
                muted></video>
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Treball per projectes</h5>
            </div>
            <a id="enllaç3" class="stretched-link" href="./video.html?v=2"></a>
        </div>
    </div>
</div>