<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a id="enllaç-home" class="navbar-brand" href="./">
        <img id="logo" src="public/assets/img/IAM_CAT_logos_transparent_rgb_2.png" alt="Logo de l'institut" width="70"
          height="30" class="d-inline-block align-text-top">
        Institut Ausiàs March
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a id="enllaç_pral" class="nav-link active" aria-current="page" href="./">Pàgina principal</a>
          <a id="enllaç_video" class="nav-link" href="public/html/video.html">Videos</a>
        </div>
      </div>
    </div>
  </nav>